@page
@model Excel.Pages.Loader.IndexModel
@{
}
<div id="selectContainer">
    <div id="loadingIndicator">Loading...</div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'https://api.publicapis.org/entries',
                type: 'GET',
                success: function (response) {
                    setTimeout(function () { 
                        var selectHtml = '<select id="apiSelect">';
                        response.entries.forEach(function (entry) {
                            selectHtml += '<option value="' + entry.API + '">' + entry.Description + '</option>';
                        });
                        selectHtml += '</select>';

                        $('#loadingIndicator').remove(); 
                        $('#selectContainer').html(selectHtml); 
                    }, 3000);
                },
                error: function (xhr, status, error) {
                    $('#selectContainer').html('An error occurred: ' + error); 
                }
            });
        });


        $(document).ready(function () {
            $.ajax({
                url: 'https://api.publicapis.org/entries',
                type: 'GET',
                success: function (response) {
                    var selectHtml = '<select id="apiSelect">';
                   
                    response.entries.forEach(function (entry) {
                        selectHtml += '<option value="' + entry.API + '">' + entry.Description + '</option>';
                    });
                    selectHtml += '</select>';

                    $('#loadingIndicator').remove(); 
                    $('#selectContainer').html(selectHtml); 
                },
                error: function (xhr, status, error) {
                    $('#selectContainer').html('An error occurred: ' + error); 
                }
            });
        });


    </script>
}