@page
@model app.Pages.Post.IndexModel
@{
}






<h2>Manage Posts</h2>

<form method="post">
    <div id="postsContainer">
        <input type="hidden" id="RemovedPostIds" asp-for="RemovedPostIds" />

        @for (int i = 0; i < Model.PostsViewModel.Count; i++)
        {
            <div class="post-item">
                <input type="hidden" asp-for="PostsViewModel[i].Id" />
                <label asp-for="PostsViewModel[i].Title">Title</label>
                @if (i == 0)
                {
                    <input asp-for="PostsViewModel[i].Title" class="form-control" required />
                }
                else
                {
                    <input asp-for="PostsViewModel[i].Title" class="form-control" />
                }
                <span asp-validation-for="PostsViewModel[i].Title" class="text-danger"></span>
                @if (i > 0 || Model.PostsViewModel[i].Id != 0)
                {
                    <button type="button" class="remove-field" onclick="removeField(this)">-</button>
                }
            </div>
        }
    </div>
    <button type="button" id="addPost">Add Post</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#addPost').click(function () {
                var fieldIndex = $('#postsContainer .post-item').length;
                var fieldHtml = `<div class="post-item">
                                            <input type="hidden" name="PostsViewModel[${fieldIndex}].Id" value="0" />
                                            <label>Title</label>
                                            <input type="text" name="PostsViewModel[${fieldIndex}].Title" class="form-control" />
                                            <span class="text-danger"></span>
                                            <button type="button" class="remove-field" onclick="removeField(this)">-</button>
                                         </div>`;
                $('#postsContainer').append(fieldHtml);
            });
        });

        function removeField(button) {
            var postId = $(button).siblings("input[type='hidden']").val();
            if (postId && postId !== "0") {
                var removedIds = $('#RemovedPostIds').val();
                removedIds = removedIds ? removedIds + "," + postId : postId;
                $('#RemovedPostIds').val(removedIds);
                console.log(removedIds);
            }
            $(button).closest('.post-item').remove();
        }

    </script>
}

